.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

#templates {
  height: 100%;
  width: 600px;
}
#update {
  margin: 10px;
}
.ui.Input {
  width: 5%;
}

#banner{
  width: 100%;
  height: 130px;
  text-align: center;
  font-size: x-large;
 
}
